.nav {
  position: relative;
  background-color: black;
  width: 100vw;
  height: 4rem;
}

img {
  display: flex;
  height: 4rem;
  width: 15rem;
  margin: 0;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons > * {
  display: inline-block;
  color: #fff000;
}

.botonInicio {
  position: relative;
  margin-left: 1rem;
}

.botonPlanes {
  margin-left: 1rem;
}

/* Si necesitas ajustar la posición de los botones */
.botonEmpleadores {
  margin-left: 1rem;
}

.botonTrabajos {
  position: relative;
}

.botonTrabajos select {
  color: yellow;
  background-color: black;
  padding: 0.5rem;
  border: none;
  appearance: none;
  cursor: pointer;
  margin-left: 1rem;
}

.botonRegistro {
  margin-left: 12rem;
}

.botonIngreso {
  margin-left: 1rem;
}

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.6rem;
    height: 2rem;
    margin-left: 1.5rem;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    --background: #28096b;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: .5s;
  }
  
  input:checked + .slider {
    background-color: #522ba7;
  }
  
  input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
  }