@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rubik:wght@600&display=swap");
h2{
    font-family: "Rubik", sans-serif;
  
  }
  p{
    font-family: "Poppins", sans-serif;
  
  }
.section1-landing-page {
  display: flex;
  background-color: #fafad0;
  color: #29183c;
  height: 581px;
}
.section1-landing-page .section1-img-container {
  width: 56%;
}
.section1-landing-page .section1-img-container img {
  padding: 70px 0;
}
.section1-landing-page .text-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.section1-landing-page .text-container p {
  font-size: 22px;
  padding-right: 21px;
  font-family: "Poppins", sans-serif;
}
.section1-landing-page .call-to-action {
  align-self: self-start;
  user-select: none;
  cursor: pointer;
  border: 0.5px solid #29183c;
  border-radius: 15px;
  padding: 4px 6px;
  font-size: 1.1em;
  font-family: "Rubik", sans-serif;
}

.call-to-action:hover{
  color: #6a7181;
  border: 0.5px solid #6a7181;

}
.call-to-action:active{
  color: #9ca19d;
  border: 0.5px solid #9ca19d;

}
.section1-landing-page h2 {
  font-size: 3em;
  font-family: "Rubik", sans-serif;
}

.section2-landing-page {
  display: flex;
  background-color: #29183c;
  height: 640px;
}
.section2-landing-page .text-container {
  width: 54%;
}
.section2-landing-page .text-container .card {
  margin: 88px 33px;
  background-color:#fafad0;
  color: #29183c;
  padding: 18px;
  border-radius: 17px;
  box-shadow: 3px 5px 8px 4px rgba(0, 0, 0, 0.42);
}
.section2-landing-page .text-container .card p {
  font-family: "Poppins", sans-serif;
}
.section2-img-container {
  width: 75%;
  padding: 50px 0;
}

.soluciones{
    height: 600px;
    background-color: #fafad0;
    display: flex;
    flex-direction: column;
}
.soluciones h2{
    text-align: center;
}
.section-soluciones{
    display: flex;
    margin: 53px 53px;
    
}
.section-soluciones article{
    border-radius: 17px;
    background-color: #29183c;
    width: 870px;
    height: 470px;
    margin: 0px 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-soluciones article ul{
    padding: 10px 24px;
}
.soluciones  h2{
    margin: 14px 0;
}
.section-soluciones article h2,ul li{
    color: #fafad0;
}
.section-testimonios {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 700px;
    background-color: #29183c;
}

.testimonios{
  display: flex;

}
.testimonios p,h2{
    color: #29183c;
}
.testimonios article {
    text-align: center;
    width: 342px;
    height: 402px;
    background-color: #fafad0;
    margin: 0 30px;
    border-radius: 22px;
  box-shadow: 3px 5px 8px 4px rgba(0, 0, 0, 0.42);

}
article img{
    position: relative;
    top: -115px;
    left: 13px;
}
.testimonios article h2{
    position: relative;
    top: -68px;
    font-size: 1.5em;
    
}
.testimonios article p{
    padding: 0 4px;
}
.title-testimonios{
    background-color: #fafad0;
    font-size: 1.5em;
    border-radius: 7px;
    padding: 2px 57px;
}
.section-subscripciones{
    background-color: #fafad0;
}
.section-subscripciones h2{
    text-align: center;
    padding-top: 38px;
    color: #29183c;
}